table, th, td {
  border: 1px solid black;
}
h1, h2, h3 {
    background-color: red

}
input {
    border-width:0px;
    border:none;
    text-align: center;
}
*:focus {
    outline: none;
}

#sources {

    width: 50%;
}
#sketch {
    width: 40%;
    border: rgb(74, 146, 80) ;
    border-style: groove;
    border-width: 1px;
}
section{
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
}

.container{
    
    border-radius:5px;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
}            
p {
    /* background: #d66666 ; */
    border: rgb(146, 74, 74) ;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    border-radius:5px;
    cursor: move;
    /* color:white; */
    /* font-weight: bold; */
}

.draggable.dragging {
    opacity: .5;
}


textarea {
    resize: none;
    border:none;
    width: 100%;
    min-height: 1rem;
    overflow-y: auto;

}